<html layout:decorate="~{global/layout}">


<head></head>
<body>
<div layout:fragment="content">

    <h1 class="font mb-2">글 작성</h1>

    <form class="flex flex-col gap-4" method="POST" th:action onsubmit="submitWriteForm(this); return false;">
        <label class="form-control w-full max-w-xs">
            <div class="label">
                <span class="label-text">제목</span>
            </div>
            <input type="text" name="title" placeholder="제목을 입력해주세요" class="input input-bordered"/>

            <div class="label">
                <span class="label-text">내용</span>
            </div>
            <textarea maxlength="100000" rows="5" name="body" placeholder="내용을 입력해주세요" class="textarea textarea-bordered"></textarea>

            <div class="label">
            </div>
        </label>

        <button type="submit" class="btn btn-primary btn-block">
            글 작성
        </button>
    </form>


    <script>
        function submitWriteForm(form) {
            form.title.value =form.title.value.trim();
            form.body.value =form.body.value.trim();


            if (form.title.length == 0) {
                toastWarning('제목을 입력해주세요.');
                form.title.focus();

                return;
            }

            if (form.body.length == 0) {
                toastWarning('내용을 입력해주세요.');
                form.body.focus();

                return;
            }

            form.submit();

        }

    </script>


</div>
</body>
</html>